section.about-us

    h2

        span
            text-decoration: underline

        br
            display: none

    > p
        text-align: center
        margin-top: 10px

    .cards
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 100px
        row-gap: 50px
        width: 100%
        margin: 0 auto
        margin-top: 50px

        .card
            display: flex
            align-items: center
            justify-content: space-between

            .icon
                width: 130px
                height: 130px
                margin-right: 20px
                fill: $color-a

            .text
                width: calc(100% - 180px)

    @media screen and (max-width: 800px)
        .cards
            grid-template-columns: repeat(1, 1fr)
            width: 70%
    
    @media screen and (max-width: 670px)
        h2 br.first
            display: block

        .cards
            width: 100%

    @media screen and (max-width: 500px)
        h2 br.second
            display: block

    @media screen and (max-width: 450px)
        .cards .card
            flex-direction: column
            text-align: center

            .text
                width: 100%
