footer section.bottom
    background-color: rgba($color-a, 0.8)
    margin-top: 50px  

    a
        display: inline-block
        color: $color-d

        &:hover
            opacity: 0.5  

    .wrapper-widgets

        .widgets
            width: 80%
            margin: 0 auto
            display: flex
            align-items: flex-start
            justify-content: space-between

            .widget
                color: $color-d

                p
                    font-size: 14px

                p
                    margin: 0
                    padding: 0

                h3
                    color: rgba($color-d, 0.5)
                    font-size: 20px
                
                svg
                    width: 30px
                    height: 30px
                    fill: $color-d

                ul
                    display: flex
                    align-items: center
                    justify-content: flex-start
                    margin: 0
                    padding: 0

                    li
                        list-style: none

                        a
                            margin-right: 20px

    small
        text-align: center
        width: 100%
        display: inline-block
        color: $color-d
        margin-top: 20px
        background-color: $color-a
        padding: 10px 0
