html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2EBE9;
  font-family: "Exo 2", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #7C3E66;
}

.regular-width {
  max-width: 1000px;
  margin: 0 auto;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Oleo Script", cursive;
  color: #243A73;
}

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.btn {
  display: inline-block;
}
.btn.cta {
  font-size: 20px;
  background-color: #7C3E66;
  color: #F2EBE9;
  padding: 10px 40px;
  border-radius: 30px;
}

#header .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}
#header .top h2 {
  margin: 0;
  padding: 0;
}
#header .top .logo {
  width: auto;
  height: 80px;
  margin-right: 30px;
}
#header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header nav ul li {
  list-style: none;
  color: #A5BECC;
  transition-duration: 0.5s;
  cursor: pointer;
}
#header nav ul li a {
  padding: 5px 60px;
  font-size: 16px;
  color: inherit;
  display: block;
  cursor: inherit;
  border-right: 1px solid #A5BECC;
}
#header nav ul li:last-child a {
  border: none;
}
#header nav ul li.active {
  color: #243A73;
  cursor: default;
}
#header nav ul li.active a {
  font-weight: bold;
}
#header nav ul li:hover:not(.active) {
  color: rgba(36, 58, 115, 0.8);
}

a.whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
a.whatsapp img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

section.hero {
  height: 800px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero::after {
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imgs/hero.jpg");
  background-attachment: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
}
section.hero h1 {
  font-size: 90px;
}
section.hero h2 {
  font-size: 35px;
  padding-top: 0;
}
section.hero h1, section.hero h2 {
  margin: 0;
  text-shadow: 0px 0px 8px #F2EBE9;
}
section.hero hr {
  width: 500px;
  height: 2px;
  background-color: #243A73;
  border: none;
  box-shadow: 0px 0px 8px #F2EBE9;
}
section.hero .btn {
  margin-top: 30px;
}

section.about-us h2 span {
  text-decoration: underline;
}
section.about-us > p {
  text-align: center;
  margin-top: 10px;
}
section.about-us .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 50px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
section.about-us .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.about-us .cards .card .icon {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  fill: #7C3E66;
}
section.about-us .cards .card .text {
  width: calc(100% - 180px);
}

section.banner {
  background-image: url("../imgs/banner.jpg");
  opacity: 0.6;
  margin-top: 50px;
}

section.blog {
  display: grid;
}
section.blog img {
  width: 30px;
  height: auto;
}
section.blog h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 55px;
  margin-bottom: 30px;
}
section.blog h2.small {
  font-size: 25px;
  line-height: 28px;
}
section.blog h3 {
  font-size: 20px;
  color: #7C3E66;
}
section.blog h3, section.blog p {
  margin: 0;
  width: calc(100% - 20px);
  display: inline-block;
}
section.blog h3.datetime, section.blog p.datetime {
  font-size: 14px;
}
section.blog .hero.paralax {
  background-image: url("../imgs/banner-blog.jpg");
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.blog .wrapper-blogs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
}
section.blog .wrapper-blogs .all-posts {
  width: 75%;
}
section.blog .wrapper-blogs .all-posts section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
section.blog .wrapper-blogs .all-posts section article img {
  width: 100%;
  height: auto;
}
section.blog .wrapper-blogs .all-posts section article h3, section.blog .wrapper-blogs .all-posts section article p {
  margin-left: 20px;
}
section.blog .wrapper-blogs .best-posts {
  width: 20%;
}
section.blog .wrapper-blogs .best-posts section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section.blog .wrapper-blogs .best-posts section article {
  padding: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
section.blog .wrapper-blogs .best-posts section article img {
  width: 100%;
  height: auto;
}

section.post .hero.paralax {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.post .content {
  margin: 50px auto;
}
section.post .content img {
  width: 100%;
  height: auto;
}
section.post .content h1, section.post .content h2, section.post .content h3, section.post .content h4, section.post .content h5, section.post .content h6 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
section.post .content .layout {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
section.post .content .layout.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
section.post .content .layout.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
section.post .content .layout.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
section.post .color-a {
  color: #7C3E66;
}
section.post .color-b {
  color: #243A73;
}
section.post .color-c {
  color: #A5BECC;
}
section.post .color-d {
  color: #F2EBE9;
}

footer {
  background-color: #A5BECC;
}

footer section.contact form {
  width: 100%;
  margin: 0 auto;
}
footer section.contact form label {
  margin-top: 20px;
  font-size: 18px;
  display: block;
}
footer section.contact form input, footer section.contact form select, footer section.contact form textarea {
  display: block;
  width: calc(100% - 65px);
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  margin-top: 5px;
  transition-duration: 0.5s;
  border: 3px solid rgba(36, 58, 115, 0);
}
footer section.contact form input:focus, footer section.contact form select:focus, footer section.contact form textarea:focus {
  border: 3px solid #243A73;
}
footer section.contact form select {
  width: 100%;
}
footer section.contact form textarea {
  height: 150px;
  resize: none;
}
footer section.contact form input[type=submit] {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}

footer section.bottom {
  background-color: rgba(124, 62, 102, 0.8);
  margin-top: 50px;
}
footer section.bottom a {
  display: inline-block;
  color: #F2EBE9;
}
footer section.bottom a:hover {
  opacity: 0.5;
}
footer section.bottom .wrapper-widgets .widgets {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer section.bottom .wrapper-widgets .widgets .widget {
  color: #F2EBE9;
}
footer section.bottom .wrapper-widgets .widgets .widget p {
  font-size: 14px;
}
footer section.bottom .wrapper-widgets .widgets .widget p {
  margin: 0;
  padding: 0;
}
footer section.bottom .wrapper-widgets .widgets .widget h3 {
  color: rgba(242, 235, 233, 0.5);
  font-size: 20px;
}
footer section.bottom .wrapper-widgets .widgets .widget svg {
  width: 30px;
  height: 30px;
  fill: #F2EBE9;
}
footer section.bottom .wrapper-widgets .widgets .widget ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
footer section.bottom .wrapper-widgets .widgets .widget ul li {
  list-style: none;
}
footer section.bottom .wrapper-widgets .widgets .widget ul li a {
  margin-right: 20px;
}
footer section.bottom small {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #F2EBE9;
  margin-top: 20px;
  background-color: #7C3E66;
  padding: 10px 0;
}

/*# sourceMappingURL=styles.css.map */
